

/*Google image*/
.img-responsive{
 	margin: 0 auto;
 	padding-top: 10%;

}

/*NAVBAR*/

/*do not collapse nav */
.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}

#user-img {
	margin-top: -3px;
	margin-right: 25px;
	}


.navbar a {
	color: #666;
	background-color: transparent;


}
.navbar li>a:hover {
background-color: transparent;
text-decoration: underline;

}
.navbar li>a:focus {
	background-color: transparent;
}


.glyphicon.glyphicon-th {
	font-size:15px;
	margin-top: 3px; 
}

.glyphicon-th:hover{
	color: black;

}


.glyphicon-bell {
font-size: 11px;
color: white;
background-color: #666;
padding: 5px;
border-radius: 50%;
margin-top: 1px;
}
.glyphicon-bell:hover {
	background-color: black;
}

a {
	font-size: 13px;
	line-height: 24px;
}

.navbar-nav {
	padding-top: 5px;
}

.navbar-nav > li>a{

	padding-left: 10px;
	padding-right: 10px;

}

/*Search text field*/



.form-control {
	border-radius: 0px;
}

.form-control:hover {
	border-color:#8c8c8c;
}

/*Sub text*/

.sub-logo {
	font-size: 16px;
	color: #4285f4;
	height: 16px;
	left: 630px;
	width: 100px;
	position: relative;
	text-align:center;
	top:-25px;

}


/* enable absolute positioning */
.inner-addon {
  position: relative;
  left:50%;
  margin-top: 10px;
  border-radius: 0px;
}

/* style glyph */
.inner-addon .fa {
  position: absolute;
  padding: 8px;
  pointer-events: none;

}

/* align glyph */
.right-addon .fa { right: 5px;}

/* add padding  */
.right-addon input { padding-right: 30px; }


/*Buttons*/

.stl {
	float: right;
}


.btn {
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 2px;
    color: #757575;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 10 12px 10px 12px ;
    text-align: center;


}

.text {
	text-align: center;
	font-size: small;

}


/*Footer*/
.footer {
	background-color: #f2f2f2;
	border: 1px solid #e4e4e4;
	padding: 5px;
}

.footer a {
	color: #666;
	background-color: transparent;
	margin-right: 15px;

}
.footer a:hover {
background-color: transparent;
text-decoration: underline;

}
.footer a:focus {
	background-color: transparent;
}

.right-links {
	text-align: right;
}

.left-links {
	text-align: left
}

